{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Cupli Surveys API",
        "termsOfService": "https://cup.li/terms",
        "contact": {
            "name": "api@cup.li"
        },
        "license": {
            "name": "Private Commercial",
            "url": "http://www.binpress.com/license/view/l/ba91551136499dedb8b0a4356ca7efd4"
        }
    },
    "host": "api.cup.li",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/vnd.cupli.api+json",
        "application/vnd.cupli.api.v1+json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/cities": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "cities",
                    "geo"
                ],
                "summary": "Returns filtered cities list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "country_id",
                        "description": "ID of country for filtering",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "region_id",
                        "description": "ID of region for filtering",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "query",
                        "description": "Search query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/City"
                            }
                        }
                    },
                    "413": {
                        "description": "Requested dataset is too large"
                    }
                }
            }
        },
        "/cities/{id}": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "cities",
                    "geo"
                ],
                "summary": "Returns city information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of city",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/City"
                        }
                    },
                    "404": {
                        "description": "City not found"
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "countries",
                    "geo"
                ],
                "summary": "Returns list of all countries",
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    }
                }
            }
        },
        "/countries/{id}": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "countries",
                    "geo"
                ],
                "summary": "Returns country information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of countri",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    },
                    "404": {
                        "description": "Country not found"
                    }
                }
            }
        },
        "/landing_orders": {
            "post": {
                "tags": [
                    "access:public",
                    "landing_orders",
                    "orders"
                ],
                "summary": "Creates new order (used on landings)",
                "parameters": [
                    {
                        "name": "age_limit",
                        "in": "formData",
                        "description": "Age limit",
                        "type": "integer"
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "Text of comment",
                        "type": "string"
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Survey duration",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "User email",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "User name",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "User phone number",
                        "type": "string"
                    },
                    {
                        "name": "region",
                        "in": "formData",
                        "description": "Desired regions",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "respondents_count",
                        "in": "formData",
                        "description": "Target number of respondents",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successfull operation"
                    },
                    "422": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ErrorsHash"
                        }
                    }
                }
            }
        },
        "/offers": {
            "get": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "offers"
                ],
                "summary": "Returns paginated list of offers (25 items per page)",
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Offer"
                            }
                        }
                    },
                    "401": {
                        "description": "You can't do that"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "offers"
                ],
                "summary": "Creates new offer",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "formData",
                        "description": "ID of campaign",
                        "type": "integer"
                    },
                    {
                        "name": "provider_id",
                        "in": "formData",
                        "description": "ID of provider",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "remote_offer_id",
                        "in": "formData",
                        "description": "ID of offer on provider's side",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "settings",
                        "in": "formData",
                        "description": "Hash with custom options",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    },
                    "401": {
                        "description": "You can't do that"
                    },
                    "422": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ErrorsHash"
                        }
                    }
                }
            }
        },
        "/offers/{id}": {
            "get": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "offers"
                ],
                "summary": "Returns offer information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of offer",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    },
                    "401": {
                        "description": "You can't do that"
                    },
                    "404": {
                        "description": "Offer not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "offers"
                ],
                "summary": "Updates offer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of offer",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "campaign_id",
                        "in": "formData",
                        "description": "ID of campaign",
                        "type": "integer"
                    },
                    {
                        "name": "provider_id",
                        "in": "formData",
                        "description": "ID of provider",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "remote_offer_id",
                        "in": "formData",
                        "description": "ID of offer on provider's side",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "settings",
                        "in": "formData",
                        "description": "Hash with custom options",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    },
                    "401": {
                        "description": "You can't do that"
                    },
                    "404": {
                        "description": "Offer not found"
                    },
                    "422": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ErrorsHash"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "offers"
                ],
                "summary": "Deletes offer by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of offer",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successfull operation"
                    },
                    "401": {
                        "description": "You can't do that"
                    },
                    "404": {
                        "description": "Offer not found"
                    }
                }
            }
        },
        "/orders": {
            "post": {
                "tags": [
                    "access:user",
                    "orders"
                ],
                "summary": "Creates new order for current user (used on dashboard)",
                "parameters": [
                    {
                        "name": "about",
                        "in": "formData",
                        "description": "\"About your research\" text",
                        "type": "string"
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Survey duration (ex. \"10-20 minutes\")",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "target",
                        "in": "formData",
                        "description": "Desired numbers of completes",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successfull operation"
                    },
                    "422": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ErrorsHash"
                        }
                    }
                }
            }
        },
        "/providers": {
            "get": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "providers"
                ],
                "summary": "Returns providers list",
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Provider"
                            }
                        }
                    }
                }
            }
        },
        "/providers/{id}": {
            "get": {
                "tags": [
                    "access:admin",
                    "access:app",
                    "providers"
                ],
                "summary": "Returns providers list",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of provider",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Provider"
                        }
                    },
                    "404": {
                        "description": "Provider not found"
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "geo",
                    "regions"
                ],
                "summary": "Returns filtered regions list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "country_id",
                        "description": "ID of country for filtering",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Region"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{id}": {
            "get": {
                "tags": [
                    "access:public",
                    "access:user",
                    "access:admin",
                    "access:app",
                    "geo",
                    "regions"
                ],
                "summary": "Returns region information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of region",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Region"
                        }
                    },
                    "404": {
                        "description": "Region not found"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "token",
            "in": "header"
        }
    },
    "definitions": {
        "Country": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        },
        "City": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "region_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        },
        "ErrorsHash": {
            "properties": {
                "errors": {
                    "type": "string",
                    "format": "json"
                }
            }
        },
        "Offer": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "campaign_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "provider_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "remote_offer_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "settings": {
                    "type": "object",
                    "format": "json"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Provider": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "utm_hash": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                },
                "settings": {
                    "type": "object",
                    "format": "json"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Region": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        },
        "User": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "email": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "company_name": {
                    "type": "string"
                },
                "phone_number": {
                    "type": "string"
                },
                "about": {
                    "type": "string"
                },
                "campaigns_count": {
                    "type": "integer",
                    "format": "int32"
                },
                "is_confirmed": {
                    "type": "boolean"
                },
                "is_privileged": {
                    "type": "boolean"
                },
                "locale": {
                    "type": "string"
                }
            }
        }
    }
}
