{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Cupli Surveys API",
        "termsOfService": "https://cup.li/terms",
        "contact": {
            "name": "api@cup.li"
        },
        "license": {
            "name": "Private Commercial",
            "url": "http://www.binpress.com/license/view/l/ba91551136499dedb8b0a4356ca7efd4"
        }
    },
    "host": "api.cup.li",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/vnd.cupli.api+json",
        "application/vnd.cupli.api.v1+json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/countries": {
            "get": {
                "tags": [
                    "geo",
                    "countries"
                ],
                "summary": "Returns list of all countries",
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    }
                }
            }
        },
        "/countries/{id}": {
            "get": {
                "tags": [
                    "geo",
                    "countries"
                ],
                "summary": "Returns country information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of countri",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    },
                    "404": {
                        "description": "Country not found"
                    }
                }
            }
        },
        "/cities": {
            "get": {
                "tags": [
                    "geo",
                    "cities"
                ],
                "summary": "Returns filtered cities list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "country_id",
                        "description": "ID of country for filtering",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "region_id",
                        "description": "ID of region for filtering",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "query",
                        "description": "Search query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/City"
                            }
                        }
                    },
                    "413": {
                        "description": "Requested dataset is too large"
                    }
                }
            }
        },
        "/cities/{id}": {
            "get": {
                "tags": [
                    "geo",
                    "cities"
                ],
                "summary": "Returns city information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of city",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/City"
                        }
                    },
                    "404": {
                        "description": "City not found"
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "tags": [
                    "geo",
                    "regions"
                ],
                "summary": "Returns filtered regions list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "country_id",
                        "description": "ID of country for filtering",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Region"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{id}": {
            "get": {
                "tags": [
                    "geo",
                    "regions"
                ],
                "summary": "Returns region information by given ID",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "ID of region",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Region"
                        }
                    },
                    "404": {
                        "description": "Region not found"
                    }
                }
            }
        },
        "/offers": {
            "get": {
                "tags": [
                    "offers"
                ],
                "summary": "Returns paginated list of offers (25 items per page)",
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Offer"
                            }
                        }
                    },
                    "403": {
                        "description": "You can't do that"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "offers"
                ],
                "summary": "Creates new offer",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "formData",
                        "description": "ID of campaign",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "provider_id",
                        "in": "formData",
                        "description": "ID of provider",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "remote_offer_id",
                        "in": "formData",
                        "description": "ID of offer on provider's side",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "settings",
                        "in": "formData",
                        "description": "Hash with custom options",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull operation",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    },
                    "403": {
                        "description": "You can't do that"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "token",
            "in": "header"
        }
    },
    "definitions": {
        "Country": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        },
        "City": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "region_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        },
        "Offer": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "campaign_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "provider_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "remote_offer_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "settings": {
                    "type": "object",
                    "format": "json"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Region": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name_en": {
                    "type": "string"
                },
                "name_ru": {
                    "type": "string"
                }
            }
        }
    }
}
